h1 {
    color: white;
    text-align: center;
    font-family: "Bowlby One SC";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 25px;
}

.navbar-light .navbar-brand  {
    display: contents;
    font-size: 14pt;
    color: black;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    font-family: "Bowlby One SC";
    font-style: normal;
    font-variant: normal;

}

button {
    text-align: center;
    margin-top: 7px;
    border: none;
    background-color: transparent;
    font-family: "Bowlby One SC";


}
#logout-form {
    border-bottom: 0.5px solid black;
    margin-left: 2px;
}

#button1 {
    border-bottom: 0.5px solid black;
    margin-left: 2px;
}

button:hover {
    color: darkgray;
}


#photos {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

footer {
    text-align: center;
    width: 100%;
    color: white;
}

.body {
    background-color: darkgrey;
}

a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: none;
    color: black;
}


a:active {
    text-decoration: none;
    color: black;
}

#dropdown {
    color: black;
    background-color: white;
    border: none;
}

#detail {
    height: 200px;
}


